In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
pop = pd.read_csv('Data/world_population.csv')

In [3]:
pop.head()

,Country/Other,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50
1,Albania,2877797,-0.11,-3120,105,27400,-14000,1.6,36,63.0,0.04
2,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56
3,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42
4,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00

In [4]:
import pycountry
cc={}
t = list(pycountry.countries)

for country in t:
    cc[country.name]=country.alpha_3

In [5]:
t

[Country(alpha_2='AW', alpha_3='ABW', name='Aruba', numeric='533'),
 Country(alpha_2='AF', alpha_3='AFG', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan'),
 Country(alpha_2='AO', alpha_3='AGO', name='Angola', numeric='024', official_name='Republic of Angola'),
 Country(alpha_2='AI', alpha_3='AIA', name='Anguilla', numeric='660'),
 Country(alpha_2='AX', alpha_3='ALA', name='Åland Islands', numeric='248'),
 Country(alpha_2='AL', alpha_3='ALB', name='Albania', numeric='008', official_name='Republic of Albania'),
 Country(alpha_2='AD', alpha_3='AND', name='Andorra', numeric='020', official_name='Principality of Andorra'),
 Country(alpha_2='AE', alpha_3='ARE', name='United Arab Emirates', numeric='784'),
 Country(alpha_2='AR', alpha_3='ARG', name='Argentina', numeric='032', official_name='Argentine Republic'),
 Country(alpha_2='AM', alpha_3='ARM', name='Armenia', numeric='051', official_name='Republic of Armenia'),
 Country(alpha_2='AS', alpha_3='ASM', name='American Samoa', numeric='016'),
 Country(alpha_2='AQ', alpha_3='ATA', name='Antarctica', numeric='010'),
 Country(alpha_2='TF', alpha_3='ATF', name='French Southern Territories', numeric='260'),
 Country(alpha_2='AG', alpha_3='ATG', name='Antigua and Barbuda', numeric='028'),
 Country(alpha_2='AU', alpha_3='AUS', name='Australia', numeric='036'),
 Country(alpha_2='AT', alpha_3='AUT', name='Austria', numeric='040', official_name='Republic of Austria'),
 Country(alpha_2='AZ', alpha_3='AZE', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan'),
 Country(alpha_2='BI', alpha_3='BDI', name='Burundi', numeric='108', official_name='Republic of Burundi'),
 Country(alpha_2='BE', alpha_3='BEL', name='Belgium', numeric='056', official_name='Kingdom of Belgium'),
 Country(alpha_2='BJ', alpha_3='BEN', name='Benin', numeric='204', official_name='Republic of Benin'),
 Country(alpha_2='BQ', alpha_3='BES', name='Bonaire, Sint Eustatius and Saba', numeric='535', official_name='Bonaire, Sint Eustatius and Saba'),
 Country(alpha_2='BF', alpha_3='BFA', name='Burkina Faso', numeric='854'),
 Country(alpha_2='BD', alpha_3='BGD', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh"),
 Country(alpha_2='BG', alpha_3='BGR', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria'),
 Country(alpha_2='BH', alpha_3='BHR', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain'),
 Country(alpha_2='BS', alpha_3='BHS', name='Bahamas', numeric='044', official_name='Commonwealth of the Bahamas'),
 Country(alpha_2='BA', alpha_3='BIH', name='Bosnia and Herzegovina', numeric='070', official_name='Republic of Bosnia and Herzegovina'),
 Country(alpha_2='BL', alpha_3='BLM', name='Saint Barthélemy', numeric='652'),
 Country(alpha_2='BY', alpha_3='BLR', name='Belarus', numeric='112', official_name='Republic of Belarus'),
 Country(alpha_2='BZ', alpha_3='BLZ', name='Belize', numeric='084'),
 Country(alpha_2='BM', alpha_3='BMU', name='Bermuda', numeric='060'),
 Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia'),
 Country(alpha_2='BR', alpha_3='BRA', name='Brazil', numeric='076', official_name='Federative Republic of Brazil'),
 Country(alpha_2='BB', alpha_3='BRB', name='Barbados', numeric='052'),
 Country(alpha_2='BN', alpha_3='BRN', name='Brunei Darussalam', numeric='096'),
 Country(alpha_2='BT', alpha_3='BTN', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan'),
 Country(alpha_2='BV', alpha_3='BVT', name='Bouvet Island', numeric='074'),
 Country(alpha_2='BW', alpha_3='BWA', name='Botswana', numeric='072', official_name='Republic of Botswana'),
 Country(alpha_2='CF', alpha_3='CAF', name='Central African Republic', numeric='140'),
 Country(alpha_2='CA', alpha_3='CAN', name='Canada', numeric='124'),
 Country(alpha_2='CC', alpha_3='CCK', name='Cocos (Keeling) Islands', numeric='166'),
 Country(alpha_2='CH', alpha_3='CHE', name='Switzerland', numeric='756', official_name='Swiss Confederation'),
 Country(alpha_2='CL', alpha_3='CHL', name='Chile', numeric='152', official_name='Republic of Chile'),
 Country(alpha_2='CN', alpha_3='CHN', name='China', numeric='156', official_name="People's Republic of China"),
 Country(alpha_2='CI', alpha_3='CIV', name="Côte d'Ivoire", numeric='384', official_name="Republic of Côte d'Ivoire"),
 Country(alpha_2='CM', alpha_3='CMR', name='Cameroon', numeric='120', official_name='Republic of Cameroon'),
 Country(alpha_2='CD', alpha_3='COD', name='Congo, The Democratic Republic of the', numeric='180'),
 Country(alpha_2='CG', alpha_3='COG', name='Congo', numeric='178', official_name='Republic of the Congo'),
 Country(alpha_2='CK', alpha_3='COK', name='Cook Islands', numeric='184'),
 Country(alpha_2='CO', alpha_3='COL', name='Colombia', numeric='170', official_name='Republic of Colombia'),
 Country(alpha_2='KM', alpha_3='COM', name='Comoros', numeric='174', official_name='Union of the Comoros'),
 Country(alpha_2='CV', alpha_3='CPV', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde'),
 Country(alpha_2='CR', alpha_3='CRI', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica'),
 Country(alpha_2='CU', alpha_3='CUB', name='Cuba', numeric='192', official_name='Republic of Cuba'),
 Country(alpha_2='CW', alpha_3='CUW', name='Curaçao', numeric='531', official_name='Curaçao'),
 Country(alpha_2='CX', alpha_3='CXR', name='Christmas Island', numeric='162'),
 Country(alpha_2='KY', alpha_3='CYM', name='Cayman Islands', numeric='136'),
 Country(alpha_2='CY', alpha_3='CYP', name='Cyprus', numeric='196', official_name='Republic of Cyprus'),
 Country(alpha_2='CZ', alpha_3='CZE', name='Czechia', numeric='203', official_name='Czech Republic'),
 Country(alpha_2='DE', alpha_3='DEU', name='Germany', numeric='276', official_name='Federal Republic of Germany'),
 Country(alpha_2='DJ', alpha_3='DJI', name='Djibouti', numeric='262', official_name='Republic of Djibouti'),
 Country(alpha_2='DM', alpha_3='DMA', name='Dominica', numeric='212', official_name='Commonwealth of Dominica'),
 Country(alpha_2='DK', alpha_3='DNK', name='Denmark', numeric='208', official_name='Kingdom of Denmark'),
 Country(alpha_2='DO', alpha_3='DOM', name='Dominican Republic', numeric='214'),
 Country(alpha_2='DZ', alpha_3='DZA', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria"),
 Country(alpha_2='EC', alpha_3='ECU', name='Ecuador', numeric='218', official_name='Republic of Ecuador'),
 Country(alpha_2='EG', alpha_3='EGY', name='Egypt', numeric='818', official_name='Arab Republic of Egypt'),
 Country(alpha_2='ER', alpha_3='ERI', name='Eritrea', numeric='232', official_name='the State of Eritrea'),
 Country(alpha_2='EH', alpha_3='ESH', name='Western Sahara', numeric='732'),
 Country(alpha_2='ES', alpha_3='ESP', name='Spain', numeric='724', official_name='Kingdom of Spain'),
 Country(alpha_2='EE', alpha_3='EST', name='Estonia', numeric='233', official_name='Republic of Estonia'),
 Country(alpha_2='ET', alpha_3='ETH', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia'),
 Country(alpha_2='FI', alpha_3='FIN', name='Finland', numeric='246', official_name='Republic of Finland'),
 Country(alpha_2='FJ', alpha_3='FJI', name='Fiji', numeric='242', official_name='Republic of Fiji'),
 Country(alpha_2='FK', alpha_3='FLK', name='Falkland Islands (Malvinas)', numeric='238'),
 Country(alpha_2='FR', alpha_3='FRA', name='France', numeric='250', official_name='French Republic'),
 Country(alpha_2='FO', alpha_3='FRO', name='Faroe Islands', numeric='234'),
 Country(alpha_2='FM', alpha_3='FSM', name='Micronesia, Federated States of', numeric='583', official_name='Federated States of Micronesia'),
 Country(alpha_2='GA', alpha_3='GAB', name='Gabon', numeric='266', official_name='Gabonese Republic'),
 Country(alpha_2='GB', alpha_3='GBR', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland'),
 Country(alpha_2='GE', alpha_3='GEO', name='Georgia', numeric='268'),
 Country(alpha_2='GG', alpha_3='GGY', name='Guernsey', numeric='831'),
 Country(alpha_2='GH', alpha_3='GHA', name='Ghana', numeric='288', official_name='Republic of Ghana'),
 Country(alpha_2='GI', alpha_3='GIB', name='Gibraltar', numeric='292'),
 Country(alpha_2='GN', alpha_3='GIN', name='Guinea', numeric='324', official_name='Republic of Guinea'),
 Country(alpha_2='GP', alpha_3='GLP', name='Guadeloupe', numeric='312'),
 Country(alpha_2='GM', alpha_3='GMB', name='Gambia', numeric='270', official_name='Republic of the Gambia'),
 Country(alpha_2='GW', alpha_3='GNB', name='Guinea-Bissau', numeric='624', official_name='Republic of Guinea-Bissau'),
 Country(alpha_2='GQ', alpha_3='GNQ', name='Equatorial Guinea', numeric='226', official_name='Republic of Equatorial Guinea'),
 Country(alpha_2='GR', alpha_3='GRC', name='Greece', numeric='300', official_name='Hellenic Republic'),
 Country(alpha_2='GD', alpha_3='GRD', name='Grenada', numeric='308'),
 Country(alpha_2='GL', alpha_3='GRL', name='Greenland', numeric='304'),
 Country(alpha_2='GT', alpha_3='GTM', name='Guatemala', numeric='320', official_name='Republic of Guatemala'),
 Country(alpha_2='GF', alpha_3='GUF', name='French Guiana', numeric='254'),
 Country(alpha_2='GU', alpha_3='GUM', name='Guam', numeric='316'),
 Country(alpha_2='GY', alpha_3='GUY', name='Guyana', numeric='328', official_name='Republic of Guyana'),
 Country(alpha_2='HK', alpha_3='HKG', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China'),
 Country(alpha_2='HM', alpha_3='HMD', name='Heard Island and McDonald Islands', numeric='334'),
 Country(alpha_2='HN', alpha_3='HND', name='Honduras', numeric='340', official_name='Republic of Honduras'),
 Country(alpha_2='HR', alpha_3='HRV', name='Croatia', numeric='191', official_name='Republic of Croatia'),
 Country(alpha_2='HT', alpha_3='HTI', name='Haiti', numeric='332', official_name='Republic of Haiti'),
 Country(alpha_2='HU', alpha_3='HUN', name='Hungary', numeric='348', official_name='Hungary'),
 Country(alpha_2='ID', alpha_3='IDN', name='Indonesia', numeric='360', official_name='Republic of Indonesia'),
 Country(alpha_2='IM', alpha_3='IMN', name='Isle of Man', numeric='833'),
 Country(alpha_2='IN', alpha_3='IND', name='India', numeric='356', official_name='Republic of India'),
 Country(alpha_2='IO', alpha_3='IOT', name='British Indian Ocean Territory', numeric='086'),
 Country(alpha_2='IE', alpha_3='IRL', name='Ireland', numeric='372'),
 Country(alpha_2='IR', alpha_3='IRN', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran'),
 Country(alpha_2='IQ', alpha_3='IRQ', name='Iraq', numeric='368', official_name='Republic of Iraq'),
 Country(alpha_2='IS', alpha_3='ISL', name='Iceland', numeric='352', official_name='Republic of Iceland'),
 Country(alpha_2='IL', alpha_3='ISR', name='Israel', numeric='376', official_name='State of Israel'),
 Country(alpha_2='IT', alpha_3='ITA', name='Italy', numeric='380', official_name='Italian Republic'),
 Country(alpha_2='JM', alpha_3='JAM', name='Jamaica', numeric='388'),
 Country(alpha_2='JE', alpha_3='JEY', name='Jersey', numeric='832'),
 Country(alpha_2='JO', alpha_3='JOR', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan'),
 Country(alpha_2='JP', alpha_3='JPN', name='Japan', numeric='392'),
 Country(alpha_2='KZ', alpha_3='KAZ', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan'),
 Country(alpha_2='KE', alpha_3='KEN', name='Kenya', numeric='404', official_name='Republic of Kenya'),
 Country(alpha_2='KG', alpha_3='KGZ', name='Kyrgyzstan', numeric='417', official_name='Kyrgyz Republic'),
 Country(alpha_2='KH', alpha_3='KHM', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia'),
 Country(alpha_2='KI', alpha_3='KIR', name='Kiribati', numeric='296', official_name='Republic of Kiribati'),
 Country(alpha_2='KN', alpha_3='KNA', name='Saint Kitts and Nevis', numeric='659'),
 Country(alpha_2='KR', alpha_3='KOR', name='Korea, Republic of', numeric='410'),
 Country(alpha_2='KW', alpha_3='KWT', name='Kuwait', numeric='414', official_name='State of Kuwait'),
 Country(alpha_2='LA', alpha_3='LAO', name="Lao People's Democratic Republic", numeric='418'),
 Country(alpha_2='LB', alpha_3='LBN', name='Lebanon', numeric='422', official_name='Lebanese Republic'),
 Country(alpha_2='LR', alpha_3='LBR', name='Liberia', numeric='430', official_name='Republic of Liberia'),
 Country(alpha_2='LY', alpha_3='LBY', name='Libya', numeric='434', official_name='Libya'),
 Country(alpha_2='LC', alpha_3='LCA', name='Saint Lucia', numeric='662'),
 Country(alpha_2='LI', alpha_3='LIE', name='Liechtenstein', numeric='438', official_name='Principality of Liechtenstein'),
 Country(alpha_2='LK', alpha_3='LKA', name='Sri Lanka', numeric='144', official_name='Democratic Socialist Republic of Sri Lanka'),
 Country(alpha_2='LS', alpha_3='LSO', name='Lesotho', numeric='426', official_name='Kingdom of Lesotho'),
 Country(alpha_2='LT', alpha_3='LTU', name='Lithuania', numeric='440', official_name='Republic of Lithuania'),
 Country(alpha_2='LU', alpha_3='LUX', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg'),
 Country(alpha_2='LV', alpha_3='LVA', name='Latvia', numeric='428', official_name='Republic of Latvia'),
 Country(alpha_2='MO', alpha_3='MAC', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China'),
 Country(alpha_2='MF', alpha_3='MAF', name='Saint Martin (French part)', numeric='663'),
 Country(alpha_2='MA', alpha_3='MAR', name='Morocco', numeric='504', official_name='Kingdom of Morocco'),
 Country(alpha_2='MC', alpha_3='MCO', name='Monaco', numeric='492', official_name='Principality of Monaco'),
 Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova'),
 Country(alpha_2='MG', alpha_3='MDG', name='Madagascar', numeric='450', official_name='Republic of Madagascar'),
 Country(alpha_2='MV', alpha_3='MDV', name='Maldives', numeric='462', official_name='Republic of Maldives'),
 Country(alpha_2='MX', alpha_3='MEX', name='Mexico', numeric='484', official_name='United Mexican States'),
 Country(alpha_2='MH', alpha_3='MHL', name='Marshall Islands', numeric='584', official_name='Republic of the Marshall Islands'),
 Country(alpha_2='MK', alpha_3='MKD', name='North Macedonia', numeric='807', official_name='Republic of North Macedonia'),
 Country(alpha_2='ML', alpha_3='MLI', name='Mali', numeric='466', official_name='Republic of Mali'),
 Country(alpha_2='MT', alpha_3='MLT', name='Malta', numeric='470', official_name='Republic of Malta'),
 Country(alpha_2='MM', alpha_3='MMR', name='Myanmar', numeric='104', official_name='Republic of Myanmar'),
 Country(alpha_2='ME', alpha_3='MNE', name='Montenegro', numeric='499', official_name='Montenegro'),
 Country(alpha_2='MN', alpha_3='MNG', name='Mongolia', numeric='496'),
 Country(alpha_2='MP', alpha_3='MNP', name='Northern Mariana Islands', numeric='580', official_name='Commonwealth of the Northern Mariana Islands'),
 Country(alpha_2='MZ', alpha_3='MOZ', name='Mozambique', numeric='508', official_name='Republic of Mozambique'),
 Country(alpha_2='MR', alpha_3='MRT', name='Mauritania', numeric='478', official_name='Islamic Republic of Mauritania'),
 Country(alpha_2='MS', alpha_3='MSR', name='Montserrat', numeric='500'),
 Country(alpha_2='MQ', alpha_3='MTQ', name='Martinique', numeric='474'),
 Country(alpha_2='MU', alpha_3='MUS', name='Mauritius', numeric='480', official_name='Republic of Mauritius'),
 Country(alpha_2='MW', alpha_3='MWI', name='Malawi', numeric='454', official_name='Republic of Malawi'),
 Country(alpha_2='MY', alpha_3='MYS', name='Malaysia', numeric='458'),
 Country(alpha_2='YT', alpha_3='MYT', name='Mayotte', numeric='175'),
 Country(alpha_2='NA', alpha_3='NAM', name='Namibia', numeric='516', official_name='Republic of Namibia'),
 Country(alpha_2='NC', alpha_3='NCL', name='New Caledonia', numeric='540'),
 Country(alpha_2='NE', alpha_3='NER', name='Niger', numeric='562', official_name='Republic of the Niger'),
 Country(alpha_2='NF', alpha_3='NFK', name='Norfolk Island', numeric='574'),
 Country(alpha_2='NG', alpha_3='NGA', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria'),
 Country(alpha_2='NI', alpha_3='NIC', name='Nicaragua', numeric='558', official_name='Republic of Nicaragua'),
 Country(alpha_2='NU', alpha_3='NIU', name='Niue', numeric='570', official_name='Niue'),
 Country(alpha_2='NL', alpha_3='NLD', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands'),
 Country(alpha_2='NO', alpha_3='NOR', name='Norway', numeric='578', official_name='Kingdom of Norway'),
 Country(alpha_2='NP', alpha_3='NPL', name='Nepal', numeric='524', official_name='Federal Democratic Republic of Nepal'),
 Country(alpha_2='NR', alpha_3='NRU', name='Nauru', numeric='520', official_name='Republic of Nauru'),
 Country(alpha_2='NZ', alpha_3='NZL', name='New Zealand', numeric='554'),
 Country(alpha_2='OM', alpha_3='OMN', name='Oman', numeric='512', official_name='Sultanate of Oman'),
 Country(alpha_2='PK', alpha_3='PAK', name='Pakistan', numeric='586', official_name='Islamic Republic of Pakistan'),
 Country(alpha_2='PA', alpha_3='PAN', name='Panama', numeric='591', official_name='Republic of Panama'),
 Country(alpha_2='PN', alpha_3='PCN', name='Pitcairn', numeric='612'),
 Country(alpha_2='PE', alpha_3='PER', name='Peru', numeric='604', official_name='Republic of Peru'),
 Country(alpha_2='PH', alpha_3='PHL', name='Philippines', numeric='608', official_name='Republic of the Philippines'),
 Country(alpha_2='PW', alpha_3='PLW', name='Palau', numeric='585', official_name='Republic of Palau'),
 Country(alpha_2='PG', alpha_3='PNG', name='Papua New Guinea', numeric='598', official_name='Independent State of Papua New Guinea'),
 Country(alpha_2='PL', alpha_3='POL', name='Poland', numeric='616', official_name='Republic of Poland'),
 Country(alpha_2='PR', alpha_3='PRI', name='Puerto Rico', numeric='630'),
 Country(alpha_2='KP', alpha_3='PRK', name="Korea, Democratic People's Republic of", numeric='408', official_name="Democratic People's Republic of Korea"),
 Country(alpha_2='PT', alpha_3='PRT', name='Portugal', numeric='620', official_name='Portuguese Republic'),
 Country(alpha_2='PY', alpha_3='PRY', name='Paraguay', numeric='600', official_name='Republic of Paraguay'),
 Country(alpha_2='PS', alpha_3='PSE', name='Palestine, State of', numeric='275', official_name='the State of Palestine'),
 Country(alpha_2='PF', alpha_3='PYF', name='French Polynesia', numeric='258'),
 Country(alpha_2='QA', alpha_3='QAT', name='Qatar', numeric='634', official_name='State of Qatar'),
 Country(alpha_2='RE', alpha_3='REU', name='Réunion', numeric='638'),
 Country(alpha_2='RO', alpha_3='ROU', name='Romania', numeric='642'),
 Country(alpha_2='RU', alpha_3='RUS', name='Russian Federation', numeric='643'),
 Country(alpha_2='RW', alpha_3='RWA', name='Rwanda', numeric='646', official_name='Rwandese Republic'),
 Country(alpha_2='SA', alpha_3='SAU', name='Saudi Arabia', numeric='682', official_name='Kingdom of Saudi Arabia'),
 Country(alpha_2='SD', alpha_3='SDN', name='Sudan', numeric='729', official_name='Republic of the Sudan'),
 Country(alpha_2='SN', alpha_3='SEN', name='Senegal', numeric='686', official_name='Republic of Senegal'),
 Country(alpha_2='SG', alpha_3='SGP', name='Singapore', numeric='702', official_name='Republic of Singapore'),
 Country(alpha_2='GS', alpha_3='SGS', name='South Georgia and the South Sandwich Islands', numeric='239'),
 Country(alpha_2='SH', alpha_3='SHN', name='Saint Helena, Ascension and Tristan da Cunha', numeric='654'),
 Country(alpha_2='SJ', alpha_3='SJM', name='Svalbard and Jan Mayen', numeric='744'),

In [6]:
for i in pop['Country/Other']:
    a = i in cc.keys()
    if a == False:
        print(i)

Bolivia
Brunei
Channel Islands
Czech Republic (Czechia)
DR Congo
Iran
Laos
Micronesia
Moldova
North Korea
Russia
Sao Tome & Principe
South Korea
St. Vincent & Grenadines
State of Palestine
Syria
Taiwan
Tanzania
U.S. Virgin Islands
Venezuela
Vietnam

In [7]:
print(list(cc.keys())[list(cc.values()).index('CZE')])

Czechia

In [8]:
pop['Country/Other'] = pop['Country/Other'].str.replace('Bolivia', 'Bolivia, Plurinational State of')
pop['Country/Other'] = pop['Country/Other'].str.replace('Brunei', 'Brunei Darussalam')
pop['Country/Other'] = pop['Country/Other'].str.replace('Czech Republic (Czechia)', 'Czechia')
pop['Country/Other'] = pop['Country/Other'].str.replace('DR Congo', 'Congo, The Democratic Republic of the')
pop['Country/Other'] = pop['Country/Other'].str.replace('Iran', 'Iran, Islamic Republic of')
pop['Country/Other'] = pop['Country/Other'].str.replace('Laos', "Lao People's Democratic Republic")
pop['Country/Other'] = pop['Country/Other'].str.replace('Micronesia', str(list(cc.keys())[list(cc.values()).index('FSM')]))
pop['Country/Other'] = pop['Country/Other'].str.replace('Taiwan', 'Taiwan, Province of China')
pop['Country/Other'] = pop['Country/Other'].str.replace('Tanzania', 'Tanzania, United Republic of')
pop['Country/Other'] = pop['Country/Other'].str.replace('Venezuela', 'Venezuela, Bolivarian Republic of')
pop['Country/Other'] = pop['Country/Other'].str.replace('Vietnam', 'Viet Nam')
pop['Country/Other'] = pop['Country/Other'].str.replace('South Korea', 'Korea, Republic of')
pop['Country/Other'] = pop['Country/Other'].str.replace('North Korea', "Korea, Democratic People's Republic of")
pop['Country/Other'] = pop['Country/Other'].str.replace('Syria', 'Syrian Arab Republic')
pop['Country/Other'] = pop['Country/Other'].str.replace('State of Palestine', 'Palestine, State of')
pop['Country/Other'] = pop['Country/Other'].str.replace('Russia', 'Russian Federation')
pop['Country/Other'] = pop['Country/Other'].str.replace('Moldova', 'Moldova, Republic of')

<ipython-input-8-38f7bae1d8c9>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  pop['Country/Other'] = pop['Country/Other'].str.replace('Czech Republic (Czechia)', 'Czechia')

In [9]:
for i in pop['Country/Other']:
    a = i in cc.keys()
    if a == False:
        print(i)

Channel Islands
Czech Republic (Czechia)
Sao Tome & Principe
St. Vincent & Grenadines
U.S. Virgin Islands

In [10]:
#reverse = dict((name, code) for code,name in cc.items())
#pop['ISO']= pop['Country/Other'].map(reverse)
pop['ISO']= pop['Country/Other'].map(cc)

In [11]:
pop[pop.ISO.isnull()]['Country/Other']

34              Channel Islands
45     Czech Republic (Czechia)
152         Sao Tome & Principe
168    St. Vincent & Grenadines
186         U.S. Virgin Islands
Name: Country/Other, dtype: object

In [12]:
#pop.iloc[45]['ISO']
pop.iloc[45, pop.columns.get_loc('ISO')] = 'CZE'
pop.iloc[186, pop.columns.get_loc('ISO')] = 'VIR'
pop.iloc[168, pop.columns.get_loc('ISO')] = 'VCT'
pop.iloc[152, pop.columns.get_loc('ISO')] = 'STP'

In [13]:
pop[pop.isnull().any(axis=1)]

,Country/Other,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO
34,Channel Islands,173863,0.93,1604,915,190,1351,1.5,43,30.0,0.00,NaN
71,Guadeloupe,400124,0.02,68,237,1690,-1440,2.2,44,NaN,0.01,GLP
79,Hong Kong,7496981,0.82,60827,7140,1050,29308,1.3,45,NaN,0.10,HKG
95,Kuwait,4270571,1.51,63488,240,17820,39520,2.1,37,NaN,0.05,KWT
105,Macao,649335,1.39,8890,21645,30,5000,1.2,39,NaN,0.01,MAC
144,Puerto Rico,2860853,-2.47,-72555,323,8870,-97986,1.2,44,NaN,0.04,PRI
158,Singapore,5850342,0.79,46005,8358,700,27028,1.2,42,NaN,0.08,SGP
195,"Venezuela, Bolivarian Republic of",28435940,-0.28,-79889,32,882050,-653249,2.3,30,NaN,0.36,VEN

In [14]:
pop.iloc[79, pop.columns.get_loc('Urban Pop %')] = 100
pop.iloc[158, pop.columns.get_loc('Urban Pop %')] = 100

In [15]:
pop[pop.isnull().any(axis=1)]

,Country/Other,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO
34,Channel Islands,173863,0.93,1604,915,190,1351,1.5,43,30.0,0.00,NaN
71,Guadeloupe,400124,0.02,68,237,1690,-1440,2.2,44,NaN,0.01,GLP
95,Kuwait,4270571,1.51,63488,240,17820,39520,2.1,37,NaN,0.05,KWT
105,Macao,649335,1.39,8890,21645,30,5000,1.2,39,NaN,0.01,MAC
144,Puerto Rico,2860853,-2.47,-72555,323,8870,-97986,1.2,44,NaN,0.04,PRI
195,"Venezuela, Bolivarian Republic of",28435940,-0.28,-79889,32,882050,-653249,2.3,30,NaN,0.36,VEN

In [16]:
pop = pop.fillna(pop['Urban Pop %'].quantile(0.25))

In [17]:
pop.columns

Index(['Country/Other', 'Population (2020)', 'Yearly Change', 'Net Change',
       'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)', 'Fert. Rate',
       'Med. Age', 'Urban Pop %', 'World Share', 'ISO'],
      dtype='object')

In [18]:
df = pop

In [19]:
df = df.rename(columns={'Country/Other':'Country'})

In [20]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia, Plurinational State of',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic (Czechia)',
       "Côte d'Ivoire", 'Congo, The Democratic Republic of the',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia, Federated States of', 'Moldova, Republic of',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria',
       "Korea, Democratic People's Republic of", 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda',
       'Réunion', 'Saint Lucia', 'Samoa', 'Sao Tome & Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Korea, Republic of', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Vincent & Grenadines', 'Palestine, State of',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan',
       'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'U.S. Virgin Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [21]:
life = pd.read_csv('Data/Life expectancy.csv')

In [22]:
life.columns

Index(['Country', 'Life expectancy', 'ISO-code'], dtype='object')

In [23]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          185 non-null    object
 1   Life expectancy  185 non-null    float64
 2   ISO-code         185 non-null    object
dtypes: float64(1), object(2)
memory usage: 4.5+ KB

In [24]:
df = pd.merge(df, life, left_on='ISO', right_on='ISO-code')

In [25]:
df

,Country_x,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO,Country_y,Life expectancy,ISO-code
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,AFG,Afghanistan,64.5,AFG
1,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,DZA,Algeria,76.7,DZA
2,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,AGO,Angola,60.8,AGO
3,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,ATG,Antigua and Barbuda,76.9,ATG
4,Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,ARG,Argentina,76.5,ARG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,"Venezuela, Bolivarian Republic of",28435940,-0.28,-79889,32,882050,-653249,2.3,30,43.0,0.36,VEN,Venezuela,72.1,VEN
175,Viet Nam,97338579,0.91,876473,314,310070,-80000,2.1,32,38.0,1.25,VNM,Vietnam,75.3,VNM
176,Yemen,29825964,2.28,664042,56,527970,-30000,3.8,20,38.0,0.38,YEM,Yemen,66.1,YEM
177,Zambia,18383955,2.93,522925,25,743390,-8000,4.7,18,45.0,0.24,ZMB,Zambia,63.5,ZMB
178,Zimbabwe,14862924,1.48,217456,38,386850,-116858,3.6,19,38.0,0.19,ZWE,Zimbabwe,61.2,ZWE

In [26]:
df = df.drop(columns=['Country_y'])
df = df.drop(columns=['ISO-code'])
df = df.rename(columns={'Country_x' : 'Country'})

df.head()

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO,Life expectancy
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,AFG,64.5
1,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,DZA,76.7
2,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,AGO,60.8
3,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,ATG,76.9
4,Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,ARG,76.5

In [27]:
meat = pd.read_csv('Data/Meat consumption.csv')
meat.head()

               Country  Meat consumption ISO-code
0          Afghanistan              17.3      AFG
1              Algeria              18.3      DZA
2       American Samoa              24.9      ASM
3               Angola              19.0      AGO
4  Antigua and Barbuda              56.0      ATG

In [28]:
#meat = meat.drop(columns = ['ISO-code'])
df = pd.merge(df, meat, left_on='ISO', right_on='ISO-code')

In [29]:
df = df.drop(columns=['Country_y'])
df = df.drop(columns=['ISO-code'])
df = df.rename(columns={'Country_x' : 'Country'})
df.head()

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO,Life expectancy,Meat consumption
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,AFG,64.5,17.3
1,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,DZA,76.7,18.3
2,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,AGO,60.8,19.0
3,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,ATG,76.9,56.0
4,Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,ARG,76.5,79.7

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 171
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            172 non-null    object
 1   Population (2020)  172 non-null    int64
 2   Yearly Change      172 non-null    float64
 3   Net Change         172 non-null    int64
 4   Density (P/Km²)    172 non-null    int64
 5   Land Area (Km²)    172 non-null    int64
 6   Migrants (net)     172 non-null    int64
 7   Fert. Rate         172 non-null    float64
 8   Med. Age           172 non-null    int64
 9   Urban Pop %        172 non-null    float64
 10  World Share        172 non-null    float64
 11  ISO                172 non-null    object
 12  Life expectancy    172 non-null    float64
 13  Meat consumption   172 non-null    float64
dtypes: float64(6), int64(6), object(2)
memory usage: 20.2+ KB

In [31]:
suicide = pd.read_csv('Data/Suicide rate.csv')
suicide.head()

               Country  Suicide rate ISO-code
0          Afghanistan           6.4      AFG
1              Albania           5.6      ALB
2              Algeria           3.3      DZA
3               Angola           8.9      AGO
4  Antigua and Barbuda           0.5      ATG

In [33]:
#suicide['ISO']= suicide['Country'].map(reverse)
#suicide[suicide.isnull().any(axis=1)]

In [34]:
df = pd.merge(df, suicide, left_on='ISO', right_on='ISO-code')
df.head()

,Country_x,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO,Life expectancy,Meat consumption,Country_y,Suicide rate,ISO-code
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,AFG,64.5,17.3,Afghanistan,6.4,AFG
1,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,DZA,76.7,18.3,Algeria,3.3,DZA
2,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,AGO,60.8,19.0,Angola,8.9,AGO
3,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,ATG,76.9,56.0,Antigua and Barbuda,0.5,ATG
4,Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,ARG,76.5,79.7,Argentina,9.1,ARG

In [35]:
df = df.drop(columns=['Country_y'])
df = df.drop(columns=['ISO-code'])
df = df.rename(columns={'Country_x' : 'Country'})
df.head()

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO,Life expectancy,Meat consumption,Suicide rate
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,AFG,64.5,17.3,6.4
1,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,DZA,76.7,18.3,3.3
2,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,AGO,60.8,19.0,8.9
3,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,ATG,76.9,56.0,0.5
4,Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,ARG,76.5,79.7,9.1

In [36]:
df.shape

(175, 15)

In [37]:
height = pd.read_csv('Data/Height of Male and Female by Country 2022.csv')
height.head()

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
0,1,Netherlands,183.78,170.36,6.03,5.59
1,2,Montenegro,183.30,169.96,6.01,5.58
2,3,Estonia,182.79,168.66,6.00,5.53
3,4,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,5,Iceland,182.10,168.91,5.97,5.54

In [38]:
height = height.rename(columns={'Country Name' : 'Country'})

In [39]:
height = height.drop(columns = ['Rank', 'Male Height in Ft', 'Female Height in Ft'])

In [40]:
for i in height['Country'].sort_values():
    a = i in cc.keys()
    if a == False:
        print(i)

Bolivia
Brunei
Czech Republic
DR Congo
Iran
Ivory Coast
Laos
Micronesia
Moldova
North Korea
Palestine
Republic of the Congo
Russia
South Korea
Syria
Taiwan
Tanzania
Venezuela
Vietnam

In [41]:
height['Country'] = height['Country'].str.replace('Bolivia', 'Bolivia, Plurinational State of')
height['Country'] = height['Country'].str.replace('Brunei', 'Brunei Darussalam')
height['Country'] = height['Country'].str.replace('Czech Republic', 'Czechia')
height['Country'] = height['Country'].str.replace('DR Congo', 'Congo, The Democratic Republic of the')
height['Country'] = height['Country'].str.replace('Iran', 'Iran, Islamic Republic of')
height['Country'] = height['Country'].str.replace('Laos', "Lao People's Democratic Republic")

height['Country'] = height['Country'].str.replace('Taiwan', 'Taiwan, Province of China')
height['Country'] = height['Country'].str.replace('Tanzania', 'Tanzania, United Republic of')

height['Country'] = height['Country'].str.replace('Venezuela', 'Venezuela, Bolivarian Republic of')
height['Country'] = height['Country'].str.replace('Vietnam', 'Viet Nam')
height['Country'] = height['Country'].str.replace('South Korea', 'Korea, Republic of')
height['Country'] = height['Country'].str.replace('North Korea', "Korea, Democratic People's Republic of")


height['Country'] = height['Country'].str.replace('Syria', 'Syrian Arab Republic')
height['Country'] = height['Country'].str.replace('Palestine', 'Palestine, State of')
height['Country'] = height['Country'].str.replace('Russia', 'Russian Federation')
height['Country'] = height['Country'].str.replace('Moldova', 'Moldova, Republic of')

In [42]:
height['ISO']= height['Country'].map(cc)

In [43]:
height[height.isnull().any(axis=1)]

                   Country  Male Height in Cm  Female Height in Cm  ISO
122  Republic of the Congo             171.23               158.78  NaN
147             Micronesia             169.57               159.66  NaN
162            Ivory Coast             168.23               158.65  NaN

In [44]:
height.iloc[122, height.columns.get_loc('ISO')] = 'COG'
height.iloc[147, height.columns.get_loc('ISO')] = 'FSM'
height.iloc[162, height.columns.get_loc('ISO')] = 'CIV'

In [45]:
height

,Country,Male Height in Cm,Female Height in Cm,ISO
0,Netherlands,183.78,170.36,NLD
1,Montenegro,183.30,169.96,MNE
2,Estonia,182.79,168.66,EST
3,Bosnia and Herzegovina,182.47,167.47,BIH
4,Iceland,182.10,168.91,ISL
...,...,...,...,...
194,Mozambique,164.30,155.42,MOZ
195,Papua New Guinea,163.10,156.89,PNG
196,Solomon Islands,163.07,156.79,SLB
197,Lao People's Democratic Republic,162.78,153.10,LAO
198,Timor-Leste,160.13,152.71,TLS

In [46]:
df = pd.merge(df, height, on='ISO')

In [47]:
df = df.drop(columns=['Country_y'])
df = df.rename(columns={'Country_x' : 'Country'})
df.head()

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,ISO,Life expectancy,Meat consumption,Suicide rate,Male Height in Cm,Female Height in Cm
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,AFG,64.5,17.3,6.4,168.50,156.11
1,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,DZA,76.7,18.3,3.3,175.04,162.35
2,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,AGO,60.8,19.0,8.9,168.46,158.10
3,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,ATG,76.9,56.0,0.5,178.84,165.72
4,Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,ARG,76.5,79.7,9.1,174.76,161.22

In [48]:
df.shape

(173, 17)

In [49]:
gdp = pd.read_csv('Data/country_profile_variables.csv')
gdp = gdp.rename(columns={'country' : 'Country'})
gdp.head()

,Country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [50]:
gdp.columns

Index(['Country', 'Region', 'Surface area (km2)',
       'Population in thousands (2017)', 'Population density (per km2, 2017)',
       'Sex ratio (m per 100 f, 2017)',
       'GDP: Gross domestic product (million current US$)',
       'GDP growth rate (annual %, const. 2005 prices)',
       'GDP per capita (current US$)', 'Economy: Agriculture (% of GVA)',
       'Economy: Industry (% of GVA)',
       'Economy: Services and other activity (% of GVA)',
       'Employment: Agriculture (% of employed)',
       'Employment: Industry (% of employed)',
       'Employment: Services (% of employed)',
       'Unemployment (% of labour force)',
       'Labour force participation (female/male pop. %)',
       'Agricultural production index (2004-2006=100)',
       'Food production index (2004-2006=100)',
       'International trade: Exports (million US$)',
       'International trade: Imports (million US$)',
       'International trade: Balance (million US$)',
       'Balance of payments, current account (million US$)',
       'Population growth rate (average annual %)',
       'Urban population (% of total population)',
       'Urban population growth rate (average annual %)',
       'Fertility rate, total (live births per woman)',
       'Life expectancy at birth (females/males, years)',
       'Population age distribution (0-14 / 60+ years, %)',
       'International migrant stock (000/% of total pop.)',
       'Refugees and others of concern to UNHCR (in thousands)',
       'Infant mortality rate (per 1000 live births',
       'Health: Total expenditure (% of GDP)',
       'Health: Physicians (per 1000 pop.)',
       'Education: Government expenditure (% of GDP)',
       'Education: Primary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Secondary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Tertiary gross enrol. ratio (f/m per 100 pop.)',
       'Seats held by women in national parliaments %',
       'Mobile-cellular subscriptions (per 100 inhabitants)',
       'Mobile-cellular subscriptions (per 100 inhabitants).1',
       'Individuals using the Internet (per 100 inhabitants)',
       'Threatened species (number)', 'Forested area (% of land area)',
       'CO2 emission estimates (million tons/tons per capita)',
       'Energy production, primary (Petajoules)',
       'Energy supply per capita (Gigajoules)',
       'Pop. using improved drinking water (urban/rural, %)',
       'Pop. using improved sanitation facilities (urban/rural, %)',
       'Net Official Development Assist. received (% of GNI)'],
      dtype='object')

In [51]:
gdp = gdp.drop(['Population in thousands (2017)', 'Population density (per km2, 2017)',
       'Sex ratio (m per 100 f, 2017)','Population growth rate (average annual %)',
       'Urban population (% of total population)',
       'Urban population growth rate (average annual %)',
       'Fertility rate, total (live births per woman)',
       'Life expectancy at birth (females/males, years)',
       'Population age distribution (0-14 / 60+ years, %)',
       'International migrant stock (000/% of total pop.)',
       'Refugees and others of concern to UNHCR (in thousands)'], axis=1)
gdp.head()

,Country,Region,Surface area (km2),GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,20270,-2.4,623.2,23.3,23.3,53.3,61.6,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,11541,2.6,3984.2,22.4,26.0,51.7,41.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,164779,3.8,4154.1,12.2,37.3,50.5,10.8,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,-99,-99,-99.0,-99,-99.0,-99.0,...,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,2812,0.8,39896.4,0.5,10.8,88.6,-99,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [52]:
for i in gdp['Country'].sort_values():
    a = i in cc.keys()
    if a == False:
        print(i)

Bolivia (Plurinational State of)
British Virgin Islands
Channel Islands
China, Hong Kong SAR
China, Macao SAR
Democratic People's Republic of Korea
Democratic Republic of the Congo
Holy See
Iran (Islamic Republic of)
Micronesia (Federated States of)
Republic of Korea
Republic of Moldova
Saint Helena
State of Palestine
Swaziland
The former Yugoslav Republic of Macedonia
United Republic of Tanzania
United States Virgin Islands
United States of America
Venezuela (Bolivarian Republic of)
Wallis and Futuna Islands

In [53]:
gdp['Country'] = gdp['Country'].str.replace('Bolivia (Plurinational State of)', 'Bolivia, Plurinational State of')
gdp['Country'] = gdp['Country'].str.replace('China, Hong Kong SAR', 'Hong Kong')
gdp['Country'] = gdp['Country'].str.replace('Czech Republic', 'Czechia')
gdp['Country'] = gdp['Country'].str.replace('Democratic Republic of the Congo', 'Congo, The Democratic Republic of the')
gdp['Country'] = gdp['Country'].str.replace('Iran (Islamic Republic of)', 'Iran, Islamic Republic of')
gdp['Country'] = gdp['Country'].str.replace('Laos', "Lao People's Democratic Republic")

gdp['Country'] = gdp['Country'].str.replace('Taiwan', 'Taiwan, Province of China')
gdp['Country'] = gdp['Country'].str.replace('United Republic of Tanzania', 'Tanzania, United Republic of')

gdp['Country'] = gdp['Country'].str.replace('Venezuela (Bolivarian Republic of)', 'Venezuela, Bolivarian Republic of')
gdp['Country'] = gdp['Country'].str.replace('Vietnam', 'Viet Nam')
gdp['Country'] = gdp['Country'].str.replace('Republic of Korea', 'Korea, Republic of')
gdp['Country'] = gdp['Country'].str.replace("Democratic People's Republic of Korea", "Korea, Democratic People's Republic of")


gdp['Country'] = gdp['Country'].str.replace('Syria', 'Syrian Arab Republic')
gdp['Country'] = gdp['Country'].str.replace('State of Palestine', 'Palestine, State of')
gdp['Country'] = gdp['Country'].str.replace('Russia', 'Russian Federation')
gdp['Country'] = gdp['Country'].str.replace('Republic of Moldova', 'Moldova, Republic of')

gdp['Country'] = gdp['Country'].str.replace('United States of America', 'United States')

<ipython-input-53-5ee9443e0106>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  gdp['Country'] = gdp['Country'].str.replace('Bolivia (Plurinational State of)', 'Bolivia, Plurinational State of')
<ipython-input-53-5ee9443e0106>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  gdp['Country'] = gdp['Country'].str.replace('Iran (Islamic Republic of)', 'Iran, Islamic Republic of')
<ipython-input-53-5ee9443e0106>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  gdp['Country'] = gdp['Country'].str.replace('Venezuela (Bolivarian Republic of)', 'Venezuela, Bolivarian Republic of')

In [54]:
gdp['ISO']= gdp['Country'].map(cc)
gdp[gdp.isnull().any(axis=1)]

,Country,Region,Surface area (km2),GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),...,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI),ISO
24,Bolivia (Plurinational State of),SouthAmerica,1098581,32998,4.8,3076.8,12.6,31.0,56.5,29.5,...,231,50.8,20.4/1.9,962,32,96.7/75.6,60.8/27.5,2.38,-99,NaN
29,British Virgin Islands,Caribbean,151,908,-1.1,30144.5,1.0,11.1,87.8,...,...,67,24.1,0.2/6.0,0,85,.../...,97.5/97.5,-99,-99,NaN
41,Channel Islands,NorthernEurope,180,-99,-99,-99.0,-99,-99.0,-99.0,5.0,...,-99,4.2,-99,-99,-99,-99,-99,-99,-99,NaN
44,"China, Macao SAR",EasternAsia,30,46178,-20.3,78586.4,-99,6.6,93.4,0.3,...,11,-99,1.3/2.2,2,62,-99,-99,-99,-99,NaN
55,"Democratic People's Korea, Republic of",EasternAsia,120538,16283,-1.1,648.0,21.6,46.2,32.2,58.9,...,78,42.8,40.5/1.6,871,20,99.9/99.4,87.9/72.5,-99,-99,NaN
91,Holy See,SouthernEurope,~0,-99,-99,-99.0,-99,-99.0,-99.0,-99,...,1,-99,-99,-99,-99,-99,-99,-99,-99,NaN
97,Iran (Islamic Republic of),SouthernAsia,1628750,398563,0.4,5038.1,8.6,39.1,52.3,16.6,...,134,6.6,649.5/8.3,13291,127,97.7/92.1,92.8/82.3,0.02,-99,NaN
132,Micronesia (Federated States of),Micronesia,702,315,3.7,3015.2,27.8,6.5,65.8,-99,...,167,91.8,0.2/1.4,0,22,94.8/87.4,85.1/49.0,34.11,-99,NaN
167,Russian Federationn Federation,EasternEurope,17098246,1326016,-3.7,9243.3,4.7,31.8,63.5,6.8,...,235,49.8,1705.3/11.9,54829,208,98.9/91.2,77.0/58.7,-99,-99,NaN
169,Saint Helena,WesternAfrica,308,-99,-99,-99.0,-99,-99.0,-99.0,...,...,100,5.1,~0.0/3.1,0,41,-99,-99,-99,-99,NaN
195,Swaziland,SouthernAfrica,17363,4133,1.7,3211.7,6.6,42.1,51.3,22.0,...,34,33.8,1.2/1.0,39,40,93.6/68.9,63.1/56.0,2.39,-99,NaN
198,Syrian Arab Republicn Arab Republic,WesternAsia,185180,28393,-5.3,1534.5,20.7,30.0,49.3,18.5,...,132,2.7,30.7/1.7,237,24,92.3/87.2,96.2/95.1,...,-99,NaN
201,The former Yugoslav Republic of Macedonia,SouthernEurope,25713,10052,3.8,4836.1,12.0,27.9,65.1,16.2,...,110,39.6,7.5/3.6,53,53,99.8/98.9,97.2/82.6,2.18,-99,NaN
218,United States Virgin Islands,Caribbean,347,-99,-99,-99.0,-99,-99.0,-99.0,10.9,...,58,50.6,-99,-99,-99,100.0/100.0,96.4/96.4,-99,-99,NaN
222,Venezuela (Bolivarian Republic of),SouthAmerica,912050,344331,-6.2,11068.9,5.3,44.7,50.0,11.9,...,328,53.1,185.2/6.1,7460,90,95.0/77.9,97.5/69.9,0.01,-99,NaN
224,Wallis and Futuna Islands,Polynesia,142,-99,-99,-99.0,-99,-99.0,-99.0,-99,...,89,41.6,~0.0/1.6,-99,26,-99,-99,-99,-99,NaN

In [55]:
gdp.iloc[24, gdp.columns.get_loc('ISO')] = 'BOL'
gdp.iloc[29, gdp.columns.get_loc('ISO')] = 'VGB'
gdp.iloc[44, gdp.columns.get_loc('ISO')] = 'MAC'
gdp.iloc[55, gdp.columns.get_loc('ISO')] = 'PRK'
gdp.iloc[91, gdp.columns.get_loc('ISO')] = 'VAT'
gdp.iloc[97, gdp.columns.get_loc('ISO')] = 'IRN'
gdp.iloc[132, gdp.columns.get_loc('ISO')] = 'FSM'
gdp.iloc[167, gdp.columns.get_loc('ISO')] = 'RUS'
gdp.iloc[195, gdp.columns.get_loc('ISO')] = 'SWZ'
gdp.iloc[198, gdp.columns.get_loc('ISO')] = 'SYR'
gdp.iloc[201, gdp.columns.get_loc('ISO')] = 'YUG'
gdp.iloc[218, gdp.columns.get_loc('ISO')] = 'VIR'
gdp.iloc[222, gdp.columns.get_loc('ISO')] = 'VEN'
gdp.iloc[224, gdp.columns.get_loc('ISO')] = 'WLF'

In [56]:
df = pd.merge(df, gdp, on='ISO')

In [57]:
df.shape

(171, 56)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 56 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Country_x                                                   171 non-null    object
 1   Population (2020)                                           171 non-null    int64
 2   Yearly Change                                               171 non-null    float64
 3   Net Change                                                  171 non-null    int64
 4   Density (P/Km²)                                             171 non-null    int64
 5   Land Area (Km²)                                             171 non-null    int64
 6   Migrants (net)                                              171 non-null    int64
 7   Fert. Rate                                                  171 non-null    float64
 8   Med. Age                                                    171 non-null    int64
 9   Urban Pop %                                                 171 non-null    float64
 10  World Share                                                 171 non-null    float64
 11  ISO                                                         171 non-null    object
 12  Life expectancy                                             171 non-null    float64
 13  Meat consumption                                            171 non-null    float64
 14  Suicide rate                                                171 non-null    float64
 15  Male Height in Cm                                           171 non-null    float64
 16  Female Height in Cm                                         171 non-null    float64
 17  Country_y                                                   171 non-null    object
 18  Region                                                      171 non-null    object
 19  Surface area (km2)                                          171 non-null    object
 20  GDP: Gross domestic product (million current US$)           171 non-null    int64
 21  GDP growth rate (annual %, const. 2005 prices)              171 non-null    object
 22  GDP per capita (current US$)                                171 non-null    float64
 23  Economy: Agriculture (% of GVA)                             171 non-null    object
 24  Economy: Industry (% of GVA)                                171 non-null    float64
 25  Economy: Services and other activity (% of GVA)             171 non-null    float64
 26  Employment: Agriculture (% of employed)                     171 non-null    object
 27  Employment: Industry (% of employed)                        171 non-null    object
 28  Employment: Services (% of employed)                        171 non-null    object
 29  Unemployment (% of labour force)                            171 non-null    object
 30  Labour force participation (female/male pop. %)             171 non-null    object
 31  Agricultural production index (2004-2006=100)               171 non-null    int64
 32  Food production index (2004-2006=100)                       171 non-null    int64
 33  International trade: Exports (million US$)                  171 non-null    object
 34  International trade: Imports (million US$)                  171 non-null    object
 35  International trade: Balance (million US$)                  171 non-null    object
 36  Balance of payments, current account (million US$)          171 non-null    object
 37  Infant mortality rate (per 1000 live births                 171 non-null    object
 38  Health: Total expenditure (% of GDP)                        171 non-null    float64
 39  Health: Physicians (per 1000 pop.)                          171 non-null    object
 40  Education: Government expenditure (% of GDP)                171 non-null    object
 41  Education: Primary gross enrol. ratio (f/m per 100 pop.)    171 non-null    object
 42  Education: Secondary gross enrol. ratio (f/m per 100 pop.)  171 non-null    object
 43  Education: Tertiary gross enrol. ratio (f/m per 100 pop.)   171 non-null    object
 44  Seats held by women in national parliaments %               171 non-null    float64
 45  Mobile-cellular subscriptions (per 100 inhabitants)         171 non-null    object
 46  Mobile-cellular subscriptions (per 100 inhabitants).1       171 non-null    object
 47  Individuals using the Internet (per 100 inhabitants)        171 non-null    int64
 48  Threatened species (number)                                 171 non-null    object
 49  Forested area (% of land area)                              171 non-null    object
 50  CO2 emission estimates (million tons/tons per capita)       171 non-null    int64
 51  Energy production, primary (Petajoules)                     171 non-null    int64
 52  Energy supply per capita (Gigajoules)                       171 non-null    object
 53  Pop. using improved drinking water (urban/rural, %)         171 non-null    object
 54  Pop. using improved sanitation facilities (urban/rural, %)  171 non-null    object
 55  Net Official Development Assist. received (% of GNI)        171 non-null    int64
dtypes: float64(14), int64(13), object(29)
memory usage: 76.1+ KB

In [59]:
df = df.drop(columns=['Country_y'])
df = df.rename(columns={'Country_x' : 'Country'})
df = df.set_index('Country')
df.head()

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42,...,12.4,146,46.5,34.8/1.4,3902,25,75.4/28.2,88.6/22.5,0.42,-99
Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00,...,65.2,55,22.3,0.5/5.8,-99,84,97.9/97.9,91.4/91.4,0.12,-99
Argentina,45195774,0.93,415097,17,2736690,4800,2.3,32,93.0,0.58,...,69.4,256,10.0,204.0/4.7,3167,85,99.0/100.0,96.2/98.3,0.01,-99

In [60]:
df.shape

(171, 54)

In [61]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Population (2020), Yearly Change, Net Change, Density (P/Km²), Land Area (Km²), Migrants (net), Fert. Rate, Med. Age, Urban Pop %, World Share, ISO, Life expectancy, Meat consumption, Suicide rate, Male Height in Cm, Female Height in Cm, Region, Surface area (km2), GDP: Gross domestic product (million current US$), GDP growth rate (annual %, const. 2005 prices), GDP per capita (current US$), Economy: Agriculture (% of GVA), Economy: Industry (% of GVA), Economy: Services and other activity (% of GVA), Employment: Agriculture (% of employed), Employment: Industry (% of employed), Employment: Services (% of employed), Unemployment (% of labour force), Labour force participation (female/male pop. %), Agricultural production index (2004-2006=100), Food production index (2004-2006=100), International trade: Exports (million US$), International trade: Imports (million US$), International trade: Balance (million US$), Balance of payments, current account (million US$), Infant mortality rate (per 1000 live births, Health: Total expenditure (% of GDP), Health: Physicians (per 1000 pop.), Education: Government expenditure (% of GDP), Education: Primary gross enrol. ratio (f/m per 100 pop.), Education: Secondary gross enrol. ratio (f/m per 100 pop.), Education: Tertiary gross enrol. ratio (f/m per 100 pop.), Seats held by women in national parliaments %, Mobile-cellular subscriptions (per 100 inhabitants), Mobile-cellular subscriptions (per 100 inhabitants).1, Individuals using the Internet (per 100 inhabitants), Threatened species (number), Forested area (% of land area), CO2 emission estimates (million tons/tons per capita), Energy production, primary (Petajoules), Energy supply per capita (Gigajoules), Pop. using improved drinking water (urban/rural, %), Pop. using improved sanitation facilities (urban/rural, %), Net Official Development Assist. received (% of GNI)]
Index: []

[0 rows x 54 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171 entries, Afghanistan to Zimbabwe
Data columns (total 54 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Population (2020)                                           171 non-null    int64
 1   Yearly Change                                               171 non-null    float64
 2   Net Change                                                  171 non-null    int64
 3   Density (P/Km²)                                             171 non-null    int64
 4   Land Area (Km²)                                             171 non-null    int64
 5   Migrants (net)                                              171 non-null    int64
 6   Fert. Rate                                                  171 non-null    float64
 7   Med. Age                                                    171 non-null    int64
 8   Urban Pop %                                                 171 non-null    float64
 9   World Share                                                 171 non-null    float64
 10  ISO                                                         171 non-null    object
 11  Life expectancy                                             171 non-null    float64
 12  Meat consumption                                            171 non-null    float64
 13  Suicide rate                                                171 non-null    float64
 14  Male Height in Cm                                           171 non-null    float64
 15  Female Height in Cm                                         171 non-null    float64
 16  Region                                                      171 non-null    object
 17  Surface area (km2)                                          171 non-null    object
 18  GDP: Gross domestic product (million current US$)           171 non-null    int64
 19  GDP growth rate (annual %, const. 2005 prices)              171 non-null    object
 20  GDP per capita (current US$)                                171 non-null    float64
 21  Economy: Agriculture (% of GVA)                             171 non-null    object
 22  Economy: Industry (% of GVA)                                171 non-null    float64
 23  Economy: Services and other activity (% of GVA)             171 non-null    float64
 24  Employment: Agriculture (% of employed)                     171 non-null    object
 25  Employment: Industry (% of employed)                        171 non-null    object
 26  Employment: Services (% of employed)                        171 non-null    object
 27  Unemployment (% of labour force)                            171 non-null    object
 28  Labour force participation (female/male pop. %)             171 non-null    object
 29  Agricultural production index (2004-2006=100)               171 non-null    int64
 30  Food production index (2004-2006=100)                       171 non-null    int64
 31  International trade: Exports (million US$)                  171 non-null    object
 32  International trade: Imports (million US$)                  171 non-null    object
 33  International trade: Balance (million US$)                  171 non-null    object
 34  Balance of payments, current account (million US$)          171 non-null    object
 35  Infant mortality rate (per 1000 live births                 171 non-null    object
 36  Health: Total expenditure (% of GDP)                        171 non-null    float64
 37  Health: Physicians (per 1000 pop.)                          171 non-null    object
 38  Education: Government expenditure (% of GDP)                171 non-null    object
 39  Education: Primary gross enrol. ratio (f/m per 100 pop.)    171 non-null    object
 40  Education: Secondary gross enrol. ratio (f/m per 100 pop.)  171 non-null    object
 41  Education: Tertiary gross enrol. ratio (f/m per 100 pop.)   171 non-null    object
 42  Seats held by women in national parliaments %               171 non-null    float64
 43  Mobile-cellular subscriptions (per 100 inhabitants)         171 non-null    object
 44  Mobile-cellular subscriptions (per 100 inhabitants).1       171 non-null    object
 45  Individuals using the Internet (per 100 inhabitants)        171 non-null    int64
 46  Threatened species (number)                                 171 non-null    object
 47  Forested area (% of land area)                              171 non-null    object
 48  CO2 emission estimates (million tons/tons per capita)       171 non-null    int64
 49  Energy production, primary (Petajoules)                     171 non-null    int64
 50  Energy supply per capita (Gigajoules)                       171 non-null    object
 51  Pop. using improved drinking water (urban/rural, %)         171 non-null    object
 52  Pop. using improved sanitation facilities (urban/rural, %)  171 non-null    object
 53  Net Official Development Assist. received (% of GNI)        171 non-null    int64
dtypes: float64(14), int64(13), object(27)
memory usage: 73.5+ KB

In [63]:
df = df.drop(columns=['Region'])

In [64]:
cols = df.columns.drop('ISO')
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [ ]:
#df.to_csv('country_data_v3.csv')

In [65]:
# -------Not included in data set yet-------
health = pd.read_csv('Data/Death Cause Reason by Country.csv')
health.head()

,Country Name,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,...,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
0,Afghanistan,2201.0,61995,7082,5637,23701,1563,530,5015,318,...,21247,485,1687,406,8254,59,1613,24295,4817,NaN
1,Albania,1181.0,12904,815,329,161,13,0,57,2,...,4705,18,36,29,243,4,152,0,175,NaN
2,Algeria,2762.0,97931,7528,8201,8756,292,0,459,264,...,23816,782,526,526,11051,40,1515,13,5328,NaN
3,Andorra,84.0,169,39,16,0,0,0,0,3,...,230,0,0,0,8,0,8,0,9,NaN
4,Angola,33.0,25724,3934,2464,18189,2520,10784,974,16802,...,12791,513,793,80,9253,114,1928,16,4033,NaN

In [66]:
health.shape

(191, 33)

In [67]:
health.columns

Index(['Country Name', 'Covid-19 Deaths', 'Cardiovascular diseases',
       'Respiratory diseases ', 'Kidney diseases', 'Neonatal disorders ',
       'Meningitis ', 'Malaria ', 'Interpersonal violence', 'HIV/AIDS',
       'Tuberculosis', 'Maternal disorders', 'Lower respiratory infections',
       'Alcohol use disorders', 'Diarrheal diseases', 'Poisoning',
       'Nutritional deficiencies', ' Alzheimer's disease',
       'Parkinson's disease', ' Acute hepatitis', 'Digestive diseases',
       ' Cirrhosis and other chronic liver diseases',
       'Protein-energy malnutrition', 'Neoplasms', 'Fire, heat', 'Drowning',
       'Drug use disorders', 'Road injuries',
       'Environmental heat and cold exposure', 'Self-harm',
       ' Conflict and terrorism', 'Diabetes ', 'Unnamed: 32'],
      dtype='object')